/*
Collor palettes
#E6DEDD - white
8F1D14 - marroon
1B120F - black
F89D13 - yellow
*/

/* HTML GENERAL TAGS -----------------------------------------------------------*/
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F89D13;
}

h1 {
    margin: 0;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
    color: #E6DEDD;
}

a {
    text-decoration: none;
    padding: 0;
    list-style: none;
    color: #F89D13;
}

button {
    padding: 0;
    border: none;
    background: none;
}
button:hover{
    cursor: pointer;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

li {
    background-color: #1B120F;
    padding: 10px;
    height: 100%;
    text-align: center;
    width: 100%;
}

h1 {
    color: #F89D13;
}

/* HEADER OF THE PAGE -----------------------------------------------------------*/
header {
    background-color: #1B120F;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    /* Hide any image overflow */
    color: #F89D13;
    border-bottom: 8px solid #8F1D14;
}

/* Header - child of header: back button, title, hamburger menu*/
header>div {
    flex: 1;
    display: block;
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    margin: 0%;
}

/* Header - Title of page (ARCHERY)*/
header> :nth-child(2) {
    flex: 9;
    padding-top: 20px;
    padding-bottom: 20px;
}

header>* {
    height: 100%;
    width: 100%;
    background-color: #1B120F;
}

header> :not(:nth-child(2))>button {
    background-color: #1B120F;
    color: #F89D13;
    font-size: 40px;
}


/*Navigation bar on sub topics *FOR MOBILE**/
#navbar {
    z-index: 30;
    position: fixed;
    height: 100%;
    right: -50%;
    display: block;
    background-color: gray;
    width: 50%;
    transition: 0.3s ease-out;
}

/*side menu list *FOR MOBILE**/
#nav-side-menu li {
    padding-top: 2%;
    padding-bottom: 2%;
}

/*side menu links *FOR MOBILE**/
#nav-side-menu a {
    font-size: 1em;
    width: 100%;
    height: 100%;
}
/*side menu links hover *FOR MOBILE**/
#nav-side-menu>li>a:hover {
    text-decoration: underline;

}

/*Navigation bar - links *FOR MOBILE**/
#navbar {
    background-color: #8F1D14;
}

/*side navigation - the close section */
#navbar> :first-child {
    background-color: #F89D13;
    width: 100%;
    height: 6em;
    padding: 0px;
    font-weight: bold;
    color: #F89D13;
    border-radius: 0px;
}

/* side navigation - the close text */
#navbar> :first-child {
    color: #8F1D14;
    font-size: 1.5em;
}

/* MAIN NAVIGATION OF THE PAGE -----------------------------------------------------------*/
main {
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #E6DEDD;
}

#navMain {
    display: flex;
    gap: 6px;
    flex-direction: row;
    border-bottom: 8px solid #8F1D14;
}

/* Main Navigation - items */
.nav-card {
    background-color: #8F1D14;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
    border: 6px solid #1B120F;
    position: relative;
    width: 100%;
    height: 400px;
    transition: background-color 0.2s ease-in;
}

/* Main Navigation - item card header*/
.nav-card>h1 {
    font-size: 1.4em;
    text-align: center;
    width: 100%;
    height: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
    flex: 2;
}

/* image of navigation item*/
.nav-card>img {
    border: 3px solid #1B120F;
    width: 80%;
    height: 40%;
    object-fit: cover;
}

/* description of navigation item*/
.nav-card>p {
    margin-top: 10%;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    flex: 8;
    height: 5%;
    padding-left: 1%;
    padding-right: 1%;
}

/* button of navigation item*/
.nav-card>button {
    width: 100px;
    height: 100px;
    background-image: url("images/target.png");
    background-size: cover;
    background-position: center;
    border: none;
    background-color: #8F1D14;
    font-size: 16px;
    cursor: pointer;
    transition: 0.05s ease-in;
}
.nav-card>button:hover{
    width: 110px;
    height: 110px;
}
.nav-card>button:focus{
    width: 70px;
    height: 70px;
}

/*MAIN CONTENT OF THE PAGE -----------------------------------------------------------*/
main {
    padding: 0;
    margin: 0;
    position: relative;
}

/*Content of each SUB TOPIC*/
main>.content {
    background-color: #E6DEDD;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    padding: 0px;
    margin: 0px;
    padding-bottom: 10%;
}
main>.content>h1 {
  display: none;
}
/*TITLE of sub topic*/
#section-title{
    background-color: #8F1D14;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
#section-title > h1{
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
    display: block;
}


/*SECTIONS of sub topic: Section are sub topic of the content*/

/*Reverse the section content for all odd child*/
main>.content :nth-child(even) {
    flex-direction: row-reverse;
}

/* Last section */
main>.content>:last-child {
    margin-bottom: 0%;
}

main>.content > :nth-child(even){
    margin-left: -100%;
}
main>.content > :nth-child(odd){
    margin-left: 100%;
}

/* Section of content */
section {
    padding: 20px;
    background-color: #8F1D14;
    border: 7px solid #1B120F;
    justify-content: center;
    margin-bottom: 10%;
    margin-right: 10%;
    height: 30%;
    width: 80%;
    margin-top:8%;
    display: flex;
    border-radius: 20px;
    position: relative;
    transition: margin-left 0.5s ease-in;
}




/*First child of section - Description content */
section> :first-child {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    background-color: #F89D13;
    border: 6px solid #1B120F;
    margin: 1%;
    left: -50%;
}

/* section - all contents in section  */
section> :first-child>* {
    margin: 0;
    text-align: center;
}

section> :first-child> :first-child {
    border-bottom: 6px solid #1B120F;
}

/* section content - header of content*/
section> :first-child> :first-child {
    flex: 1;
    background-color: #1B120F;
    color: #F89D13;
    font-size: 3em;
}

/* section content - header of description*/
section> :first-child> :nth-child(2) {
    flex: 9;
    font-size: 1.8em;
    background-color: #8F1D14;
    border: 6px solid #1B120F;
    color: #E6DEDD;
    margin: 2%;
    padding-top: 1em;
    padding-bottom: 1em;
}

/*Last child of section - Image of content */
section> :last-child {
    flex: 1;
    background-color: #E6DEDD;
    border: 8px solid #1B120F;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: border 0.2s ease-in;
}

section> :last-child>img {
    width: 100%;
    object-fit: contain;
}
section> :last-child:hover{
    border: 10px solid #8F1D14;
}


/* bottom navigation to navigate around the sub topics sections*/
#nav-section {
    width: 100%;
    position: sticky;
    top: 0px; 
    background-color: #1B120F;
    z-index: 10;
    border-bottom: 4px solid #8F1D14;
    height:50px;
    justify-content: center;
    align-items: center;
}

#nav-section>nav>ul {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#nav-section>nav>ul>li {
    background-color: #1B120F;
    
    position: relative;
    height: 2em;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 0px;
}

#nav-section>nav>ul a {
    font-size: 20px;
    width: 100%;
}

#nav-section>nav>ul a:hover {
    font-weight: bold;
    font-size: 22px;
}

#nav-section .active {
    font-weight: bold;
}


/* GAME */
#game-panel{
    border-top: 8px solid #8F1D14;
    z-index: 50;
}
#game-panel > :first-child{
    display: flex;
    align-items: center;
    margin-top: 10%;
    justify-content: center;
}
#game-panel > :first-child > p {
    text-align: center;
    width: 100%;
    color: #8F1D14;
    font-weight: bold;
    font-size: 3em;
}
#game {
    background-color: #E6DEDD;
    border: 8px solid #1B120F;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

#game>button {
    border: 2px solid #1B120F;
    background-color: #8F1D14;
    width: 10%;
    height: 10%;
    border-radius: 5px;
    position: absolute;
}
#game>button :hover{
    background-color: #F89D13;
}
#game>button :focus{
    background-color: #F89D13;
}
#game > #gameobjects{
    position:relative;
    width: 100%;
    height: 100%;
}
#game-timer {
    position:absolute;
    top: 0;
    font-size: 300%;
    pointer-events:none;
}
#game-score{
    pointer-events:none;
}
#game-score{
    position:absolute;
    top: 1%;
    left: 1%;
    font-size: 3rem;
    color: #F89D13;
}
#btn-fullscreen{
    position:absolute;
    bottom: 1%;
    right: 1%;
}
/* PAGE FOOTER */
footer {
    border-top: 8px solid #8F1D14;
    background-color: #1B120F;
    height: 200px;
    margin-top: 0px;
}

/* RESPONSIVE WEB DESIGN (RWD) -----------------------------------------------------------*/
@media only screen and (max-width: 800px) {

    /* Header - Title of page (ARCHERY)*/
    header> :nth-child(2) {
        padding-top: 0px;
        padding-bottom: 0px;
    }

    #navMain {
        display: grid;
        grid-template-rows: 1fr 1fr;
        /* Two rows of auto height */
        grid-template-columns: 1fr 1fr;
        /* Two columns of equal width */
        gap: 10px;
        /* Gap between items */
        padding-bottom: 20px;
    }

    .nav-card {
        display: flex;
        justify-content: center;
        /* Center horizontally */
        align-items: center;
        /* Center vertically */
        flex-direction: column;
        padding-bottom: 10px;
        padding-left: 2em;
        padding-right: 2em;
        border: 10px solid black;
        width: auto;
    }
    .nav-card > h1 {
    font-size: 1.5em;
    margin-bottom: 20px;

    }

    main>.content :nth-child(even) {
        flex-direction: column;
    }

    main>.content>section {
        margin-top: 10%;
        margin-left: 5%;
        margin-right: 5%;

        flex-direction: column;
    }

    /*Last child of section - Image of content */
    section> :last-child {
        flex: 1;
        display: block;
    }

    section> :last-child>img {
        width: 40%;
    }
    #game>button {
        width: 20%;
        height: 20%;
    }
}