body {
    margin: 0%;
}

/* HEADER AREA*/
header {
    background-color: #EB4747;
    padding-top: 1%;
    padding-bottom: 0px;
    margin: 0px;
}

/* Title*/
header > h1 {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

/*NAVIGATION HEADER =======================================================*/
nav ul {
    display: flex;
    border: 2px solid black;
    padding: 0px;
    margin: 0px;
}

/*NAVIGATION - items*/
nav ul li {
    border: 2px solid green;
    flex: 1;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ABC9FF;
    color: #EB4747;
    position: relative;
}

/*NAVIGATION - image*/
nav ul li img {
    display: block;
    border: 2px solid black;
}

/*NAVIGATION - description*/
nav ul li>.nav-description {
    width: 100%;
    height: 15rem;
}

/*NAVIGATION - description - p*/
nav ul li>.nav-description p {
    background-color: #EB4747;
    border: 3px solid black;
    color: #FFDEDE;
    margin-top: 10%;
    text-align: center;
    margin-bottom: 20%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
    font-size: 1.1em;
    height: 75%;
 
}

/*NAVIGATION - button section*/
nav ul li> :last-child {
    width: 100%;
    flex: 1;
    position: relative;
}

/*NAVIGATION - BUTTONS*/
nav ul li> :last-child>button {
    background-color: rgba(245, 222, 179, 0);
    color: #ABC9FF;
    border: none;
    border-radius: 100px;
    padding: 0px;
    margin: 0px;
    border: 2px solid yellow;
}

/*NAVIGATION - target board image */
nav ul li> :last-child>button>img {
    display: block;
    border-radius: 100px;
    width: 75px;
    height: 75px;
}

/*Nav header buttons psuedocode - hover*/
nav ul li> :last-child>button:hover {
    border: 2px solid orange;

}

/*Nav header buttons psuedocode - active*/
nav ul li> :last-child>button:active {
    border: 2px solid blue;
}

.test {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 100px;
}

.content {
    background-color: #EB4747;
    place-items: center;
    min-height: 100vh;
    color: #FFDEDE;
    padding: 0px;
    margin: 0px;
    align-items: center;
    grid-row: 1fr;
}


.content:first-child{
    margin: 0px;
    padding: 0px;
    border: 2px solid black;
}

.content>section {
    background-color: #FFDEDE;
    width: 90%;
    color: #EB4747;
    margin-top:0px;
    align-items: center;
}

.content>section>p {
    border: 2px solid #ABC9FF;
    width: 50%;
    text-align: center;
}

#ball {
    width: 50px;
    height: 50px;
    background-color: gray;
    position: absolute;
    width: 50%;
    align-self: center;
}

@media only screen and (max-width: 800px) {
    header {
        background-color: blue;
    }

    nav ul>li {
        margin-bottom: 5%;
    }
}